# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:123456@localhost:5432/jhotpot-postgresql?schema=public"

PORT=5000

NODE_ENV

CLIENT_URL

BCRYPT_SALT_ROUNDS=10

JWT_ACCESS_SECRET=de5ddc81c6e8b0b9cd62aada482ecc048084d6dce2bdf6acf4879e650bd0ac73698c5773358b9ece710ed0bef91658d05b8814593df1a8f317b47af4a1b25fba

JWT_ACCESS_EXPIRES_IN=50m

JWT_REFRESH_SECRET=497cccc0deacec11bb5e58e53d34a574805ff823ae98251fc69d435e82b6abd7faed0269602dd32ca7ec3842f42691144a6ef66ae0fa61bb44fa9b8fb4d12cde

JWT_REFRESH_EXPIRES_IN=30d

ADMIN_EMAIL,

ADMIN_PASSWORD,

ADMIN_PROFILE_PHOTO,

STORE_ID,

SIGNATURE_KEY,

PAYMENT_URL,

PAYMENT_VERIFY_URL,

RESET_PASS_UI_LINK,
